@font-face {
  font-family: 'Fredoka';
  src: url('./Fredoka-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./Fredoka-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./Fredoka-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./Cinzel-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./Cinzel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./Cinzel-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('./CrimsonPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('./CrimsonPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}